// start navbar
.navbar{
    background-color: $color-primary !important;
    &-brand{
        font-size: 1.5rem !important;
    }
}
// end navbar
// start currentSong
.currentSong{
    width: 100%;
    height: 30vh;
    background:linear-gradient(0deg,rgba(35,53,74,0.7),rgba(35,53,74,0.85)), url(../img/Hope_cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 50%;
    background-attachment: fixed;
    position: relative;
    color: $color-primary !important;
    &_box{
        background-color: $color-secondary !important;
        position: absolute;
        top:40%;
        margin-left: 3rem;
        box-shadow: 0px 0px 1.5rem rgba(36, 36, 36, 0.6);
        &-img{
            box-shadow: 0px 0px 1rem $color-primary;
            width: 15.5rem !important;
        }
        &-icon{
            position: absolute;
            top: 27%;
            left: 39%;
            cursor: pointer;
        }
    }
    &_caption{
        height: 20vh;
        min-width: calc(100vw - 55rem);
        position: absolute;
        top:40%;
        left:20.8rem;
        &-icon{
            cursor: pointer;
        }
    }
    &_time{
        position: absolute;
        top:75%;
        left:20.5rem;
        width: calc(100vw - 21rem);
        font-weight: bold;
    }
    &_slider{
        position: absolute;
        top:96%;
        left:19.6rem;
        width: calc(100vw - 19.6rem);
    }
}
// end currentSong
// start songList
.songList{
    margin-left:20.8rem ;
    width:calc(100vw - 20.8rem);
    overflow-x: scroll;
    .songItem{
        color: $color-primary !important;
        &_box{
           height: 28vh !important;
            &-img{
                width: 8rem !important;
            }
        }  
    }
}

// end songList